.env
.env.local
.env.*.local

node_modules/

.cache/
.vite/
.expo/
.expo-shared/

dist/
web-build/
web-dist*/
expo-dist*/

coverage/

.idea/
.vscode/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

Thumbs.db
.DS_Store

*.apk
*.aab

android/
ios/
legacy-android-capacitor/

_expo_template/
